[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
	ignore = dirty
[submodule "submodules/astral-ocean"]
	path = submodules/astral-ocean
	url = https://github.com/Thurstag/astral-ocean.git
	ignore = dirty
[submodule "submodules/meshoptimizer"]
	path = submodules/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
	ignore = dirty
[submodule "submodules/gli"]
	path = submodules/gli
	url = https://github.com/g-truc/gli
	ignore = dirty
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "submodules/tbb"]
	path = submodules/tbb
	url = https://github.com/wjakob/tbb.git
	ignore = dirty
