[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
	ignore = dirty
[submodule "submodules/astral-ocean"]
	path = submodules/astral-ocean
	url = https://github.com/Thurstag/astral-ocean.git
	ignore = dirty
